<suite name="Suite" thread-count="5" parallel="tests">
  
  
  <listeners>
		<listener class-name="utilities.ExtentReportManager"/>
	</listeners> 
	
  <test thread-count="5" name="chrometest">
   	<parameter name="os" value="Windows" />
  	<parameter name="browser"  value="chrome"/>  
    <classes>
     <!--  <class name="testCases.TSC001_Student_Travel_Insurance"/>  
     
    -->
     
      <class name="testCases.TSC002_Car_Insurance_Quote"/>
      <class name="testCases.TSC003_Health_Insurance_Menu"/> 
    </classes>
  </test> <!-- Test -->
  
  
  <!-- 
  <test thread-count="5" name="edgetest">
   	<parameter name="os" value="Windows" />
  	<parameter name="browser"  value="edge"/>  
    <classes>
      
    </classes>
  </test> Test -->
  
  
</suite> <!-- Suite -->